/*
Magenta CSS framework:
    When setting a background color always set a foreground color

Will set all elements' background and foreground color to magenta so you
have to set a color for them and not rely on system's colors:

https://github.com/jjdelc/Magenta-CSS
@jjdelc

*/

/* This is the Cyan flavor of Magenta.css */
* {
background: #0FF;
color: #0FF;
}
